
.App-logo {
    height: 80px;
    padding-left: 30px;
}

.logoBlock {
    display: flex;
    align-items: center;
}

.logoBlock h3 {
    padding-left: 30px;
    cursor: pointer;
}

.logoBlock h3 > a {
    text-decoration: none;
    color: black;
}

.bookmarks-header {
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #f3f1f1;
}

.bookmarks-field {
    margin-right: 50px;
    /* width: 600px; */
    flex: 1;
    margin-left: 100px;
    color: #2b2f3e;
    height: 37px;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #4c9aff;
    outline: none;
    box-sizing: border-box;
}

.bookmarks-field:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}