
.user-title {
    font-weight: 600;
}

.user-avatar-block {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    max-height: 100px;
    word-wrap: break-word;
}

.avatar img {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: contain;
    padding: 2px;
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ecedf1;
    padding: 20px;
}

.default-settings-block {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
    max-height: 220px;
    overflow-y: auto;
}

.default-settings-block ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.default-settings-block li {
    border-bottom: 1px solid lightgrey;
}

.avatar {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.edit-user {
    color: #00CC00;
    padding-right: 30px;
}

.user-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 23px;
}

.user-email {
    font-size: 14px;
    color: #666;
}

.manage-people {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    border-top: none;
    padding: 30px 20px;
    border: 1px solid black;
    color: #00CC00;
}

.manage-people span:hover, .edit-user:hover {
    text-decoration: underline;
    cursor: pointer;
}