
.settings-main-block {
    display: flex;
}

aside {
    color: #0dcc00;
    height: 100vh;
    width: 230px;
    border-right: 1px solid black;
    box-sizing: border-box;
    padding: 15px 10px;
}

.aside-list {
    padding-left: 5px;
    list-style-type: none;
}

.aside-list li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.aside-list li > span {
    padding-left: 10px;
}

.aside-advanced {
    padding-top: 20px;
}

.aside-advanced ul {
    padding-left: 10px;
}

.aside-title {
    padding: 27px;
    color: black;
    font-weight: 600;
}

.smile-icon {
    width: 23px;
}

.settings-info {
    padding: 10px 20px;
    flex: 1;
}

.default-settings-block {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
}

.user-title {
    font-weight: 600;
}

.user-avatar-block {
    display: flex;
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dedede;
    padding: 20px;
}

.manage-people {
    margin-top: 0;
    border-top: none;
    padding: 30px 20px;
    border: 1px solid black;
    color: #0dcc00;
}

.manage-people span:hover, .edit-user:hover, .aside-list li > span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.avatar {
    width: 70px;
    height: 70px;
    background-color: rgb(71, 86, 140);
    border-radius: 50%;
}

.user-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 23px;
}

.user-email {
    font-size: 14px;
    color: gray;
}

.edit-user {
    color: #0dcc00;
    padding-right: 30px;
}