

.editUser-form-block {
    display: flex;
    width: 440px;
    height: 235px;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    margin: 10px auto;
}

.edit-title {
    margin-top: 30px;
    padding-left: 30px;
    font-weight: 600;
}

.edit-name-block, .edit-email-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.editUser-input {
    color: #2b2f3e;
    padding: 0 10px;
    margin-top: 10px;
    height: 34px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #4c9aff;
    outline: none;
    box-sizing: border-box;
}

.editUser-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 25px 0 25px;
}

.editUser-input:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.editUser-label {
    font-size: 15px;
    color: slategrey;
    font-weight: 600;
}

.btnEditUser-group {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnEditUser-group input, .btnEditUser-group button {
    width: 74px;
    height: 33px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    text-transform: lowercase;
}

.btnEditUser-group input {
    background: #00CC00;
    border: 1px solid #00CC00;
    color: white;
}

.btnEditUser-group button {
    background: white;
    border: 1px solid #bfbebe;
}

.btnEditUser-group input:hover, .btnEditUser-group button:hover {
    box-shadow: rgb(0, 0, 0) 0px 2px 2px;
    transition: all 0.1s linear;
}

.userEdit-avatar-default ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    list-style-type: none;
}

.single-img-editBlock img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
    padding: 2px;
}

.single-img-editBlock {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.single-img-editBlock img:hover {
    border: 1px solid skyblue;
    cursor: pointer;
}